* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    font: normal 16px/1.9em "Inter", "Source Sans Pro", "Helvetica Neue", Ariel, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: turquoise;

}
html, div, span, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, del, em, img, small, strong, ol, li, label, table {
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
div {
    display: block;
}
p {
    margin-bottom: 2em;
}
.layout-portfolio {
    text-align: center;
    font-size: 16px;
    font-family: Inter,Source Sans Pro,Helvetica Neue,Ariel,sans-serif;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }
.grid-container {
    display: grid;
    width: 100%;
}
/* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 30px;
    background-color: rgb(15, 236, 214);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: cornflowerblue;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: #0d45bd;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
    background: #14e9e9;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
/* HEADER/NAV STYLES END */

/* FOOTER STYLES START */
footer {
    background-color: slateblue;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
footer h2 {
    color: springgreen;
    font-size: 30px;
    margin: 0;
}
/* FOOTER STYLES END */

/* HERO STYLES START */
.hero {
    background-image: url('../assets/NOLA2021.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
/* HERO STYLES END */

/* SECTION TITLE STYLES START */

/* SECTION TITLE STYLES START */

/*  ABOUT ME STYLES START */
.bio {
    background-image: url('../assets/NOLA2021.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
/*  ABOUT ME STYLES END */

/*  MY WORK STYLES START */
.projects {
    background-color: springgreen;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project {
    margin: 20px;
    flex: 1
}
.grid-item-button {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 17px 20px;
    background-color: #000;
    color: #fff;
    font-size: 13px;
    transform-origin: 0 0;
    will-change: transform, opacity;
    transform: scaleY(0) translateZ(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
}
.grid-item-button-label {
    transform: translateY(-15px);
    transition: transform 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.1s,opacity 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    display: block;
    opacity: 0;
}

.grid-item-portfolio {
    color: #fff;
    background-color: aquamarine
    padding-bottom: 100px;
}
.grid-item-runbuddy {
    color: #fff;
    background-color: #94093e
    padding-bottom: 100px;
}
.grid-item-fanpage {
    color: #fff;
    background-color: #375acf
    padding-bottom: 100px;
}
.grid-items {
    display: flex;
    flex-flow: row wrap;
}
.grid-item-wide {
    flex: 1 100%;
    padding-bottom: 20px;
}
.grid-item {
    flex: 1 50%;
    padding: 30px 50px 60px;
    min-height: 500px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    display: grid;
    text-align: center;
    text-decoration: none;
    color: #fff
}
.case-item-content {
    margin-top: 10px;
    margin-bottom: 30px;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.case-item-icon {
    max-width: 100%;
    max-height: 100%;
    position: relative;;
}
svg[Attributes Style] {
    width: 114.688;
    height: 114.688
}
.grid-item-portfolio-block {
    margin: 0 auto;
    width: 125px;
    height: 112px;
    background-image: url(../assets/download.jfif);
    background-size:2625px 225px;
    background-position: 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/*  MY WORK STYLES END */

/*  CONTACT ME STYLES START */
.contact-me {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.contact {
    flex: 1
}
.contact-card .grid-item-header {
    text-decoration: none;
}
.contact-card a, .contact-card a:hover {
    color: inherit
}
.contact-info {
    color: #fff;
    padding-top: 75px;
    padding-right: 55%;
    padding-left: 50px;
    background-color: #1f4954;
    text-align: left;
    position: relative;
    box-sizing: border-box;
}
.contact-link {
    padding: 4px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 55px;
    vertical-align: top;
}
.contact-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.contact-link-twitter {
    padding-top: 5px;
}
.contact-link-linkedin {
    padding-top: 5px;
}
.contact-link-github {
    padding-top: 5px;
}
.section {
    width: 1280px;
    max-width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    margin: 240px auto 0;
    padding: 40px
}
.section-header {
    font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-size: 160px;
    font-weight: 800;
    letter-spacing: -0.02em;
    text-align: left;
    z-index: 10;
    position: relative;
    line-height: 0.6em;
    pointer-events: none;
    flex: 1 100%;
}

a {
    color: inherit;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
div {
    display: block;
}
.grid-item-header-left {
    margin-top: 0;
    max-width: 440px;
    margin-left: 0;
    margin-bottom: 50px;
    display: block;
    font-size: 58px;
}
.grid-item-header {
    font-size: 46px;
    line-height: 1.3em;
    margin: 60px auto 0.65em;
    transform: translateZ(0);
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 680px;
    z-index: 10;
    letter-spacing: -0.3px;
}
.grid-item-divider-left {
    margin-left: 0;
    right: initial;
    transform: scaleX(1);
}
.grid-item-divider {
    display: block;
    position: relative;
    height: 3px;
    background-color: currentColor;
    width: 60px;
    right: 0;
    margin: 60px auto 30px;
    transform: scaleX(0.8);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.contact-picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #e7e8ed;
}
.contact-picture-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
img[Attributes Style] {
    width: 1160px;
    aspect-ratio: auto 1160 / 1160;
}
.grid-item-text-left {
    max-width: 70%;
    margin: 0 0 2em;
}
.grid-item-text {
    margin: 0 auto 60px;
    width: 80%;
    z-index: 10;
    max-width: 500px;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/*  CONTACT ME STYLES END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px)
.section {
    padding-right: 30px;
    padding-left: 30px;
}
header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
} 
header h1 {
    width: 100%;
    text-align: center;
}
header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}
header nav ul li a {
    font-size: 20px;
}
footer h2, footer div {
    text-align: center;
    width: 100%;
}
.hero-cta, .hero-form {
    width: 100%;
}
.section-title {
    width: 80%;
}
.contact-info iframe{
    flex: 1 100%;
}
@media screen and (max-width:800px)
.contact-info {
    padding-right: 50px;
    height: auto;
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768PX)
.section-header {
    font-size: 18vw;
}
section {
    padding: 30px 15px;
}

@media (max-width:600px)
.section {
    padding: 15px;
}
.grid-item {
    padding-left: 30px;
    padding-right: 30px;
}
.section-header {
    font-size: 18vw;
}
.grid-item-header {
    font-size: 9.5vmin;
    max-width: 80%;
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* this will be applied on any screen smaller than 575px */
.contact-info {
    padding-top: 45px;
    padding-right: 30px;
    padding-left: 30px;
}
.hero-form button {
    width: 100%;
}
.section-title {
    width: 95%;
}
.intro p {
    width: 100%;
}
.grid-item {
    padding-left: 20px;
    padding-right: 20px;
}
.contact-info {
    text-align: center;
}
.contact-info > * {
    flex: 0 100%;
}

